@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "muli", sans-serif;
    box-sizing: border-box;
  }

  body {
    @apply min-h-screen;
  }

  .body-no-scroll {
    @apply overflow-hidden;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }
  li {
    @apply text-xl pb-3 list-disc;
  }

  p {
    @apply mb-5 text-xl lg:text-2xl;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    @apply rounded p-3 my-2 border-2 border-primary-color transition-colors;
  }

  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  textarea:hover {
    @apply border-2 border-blue-300;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    @apply outline-slate-400;
  }

  textarea {
    resize: none;
  }

  .page-container {
    padding: 5% 10%;
  }
  .nav-container {
    padding: 0 10%;
    height: 70px;
  }

  .consent-container {
    padding: 1% 10%;
  }

  .nav-container svg {
    display: inline;
  }
  .nav-container-mob {
    padding: 0 10%;
    height: 50px;
  }
  .navbar-link {
    padding: 0 20px;
  }
  .navbar-link:last-of-type {
    padding-right: 0;
  }
  .header-copy p {
    @apply text-2xl;
  }

  /* projects grid */
  .grid-card-overlay p {
    line-height: 0;
  }

  .grid-card:hover .grid-card-overlay {
    @apply absolute;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.5s ease;
  }

  .grid-card:hover .grid-card-overlay p {
    @apply text-text-color-primary font-semibold absolute text-center bg-white border-primary-color border-2 hover:text-white hover:bg-secondary-color hover:duration-300;
    border-radius: 3px;
    line-height: 24px;
    left: 50%;
    padding: 3% 5%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn-primary {
    @apply cursor-pointer hover:text-secondary-color font-semibold text-center hover:bg-white bg-secondary-color text-text-color-secondary border-secondary-color  border-2  hover:duration-300 rounded p-3 transition-colors w-full md:w-200 min-h-60 flex items-center justify-center;
  }
  .btn-secondary {
    @apply cursor-pointer text-secondary-color font-semibold text-center bg-white hover:bg-secondary-color hover:text-white border-secondary-color hover:border-secondary-color  border-2  hover:duration-300 rounded p-3 transition-colors w-full md:w-200 min-h-60 flex items-center justify-center;
  }

  .swiper {
    @apply pb-5 !important;
  }

  .swiper .swiper-slide {
    @apply h-auto;
  }

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    color: white !important;
  }
  .swiper .swiper-pagination-bullet-active {
    background-color: white;
  }

  .testimonial-copy p {
    @apply text-white;
  }

  @media screen and (min-width: 768px) {
    h2 {
      @apply text-3xl;
    }
    li {
      @apply text-2xl;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      @apply text-7xl;
    }
    h2 {
      @apply text-5xl;
    }
    .page-container {
      padding: 3% 10%;
    }
    .header-copy p {
      @apply text-5xl;
    }
  }
}
